body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #f8f9fa;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #333;
    margin-right: 10px;
    font-weight: bold;
}

.contact-info {
    font-size: 1.2rem;
    font-weight: bold;
}

.video-placeholder {
    height: 250px;
    border-radius: 10px;
    color: #fff;
    font-size: 2rem;
    position: relative;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.overlay {
    position: relative;
    padding: 50px 0;
    margin-bottom: 30px;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.overlay>.container {
    position: relative;
    z-index: 2;
}


#events .card {
    width: 15rem;
    height: fit-content;
    font-size: small;
    margin: 0 auto;
    transition: transform 0.3s ease, box shadow 0.3s ease;
}

#events .card-title {
    font-weight: bold;
    font-size: small;
}

.btn-primary {
    background-color: #89b5e4;
    border-color: #89b5e4;
}

.btn-primary:hover {
    background-color: #4b8fca;
    border-color: #4b8fca;
}

.carousel,
.carousel-item {
    height: 100%;
}

.carousel img {
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

.carousel-item img {
    height: 870px;
    object-fit: cover;
}

.carousel-caption {
    z-index: 2;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card-img-caption {
    font-size: 0.7rem;
    color: #8f979e;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;

}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


h2 {
    font-weight: bold;
}

h3 {
    margin-top: 20px;
    font-weight: bold;
}


footer {
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
    margin-top: auto;
}